*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(bg2.jfif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #ccc;
    background: rgba(0,0,0,0.5);
}
header h1{
    color: white;
}
#check{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .logo h1:hover{
    font-size: 2.2rem;
    font-weight: bold;
    /* background: linear-gradient(90deg, #00c6ff, #0072ff);  */
    background: linear-gradient(90deg, #7fe421, #6c862d); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: grey;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.search-box button{
    cursor: pointer;
    /* width: 5px;
    height: 40px; */
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    /* background: green; */
}
.search-box button img{
    height: 30px;
    border: none;
    margin: 4px;
}
.search-box input:hover{
    border: 3px solid gold;
    color: black;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    text-align: center;
}
main .text{
    color: #d0db2e;
    /* background-color: rgba(255, 255, 255, 0.05); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        /* right: -100%; */
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    /* #check:checked ~ ul{
        right: 0;
    } */
    main .text{
        padding-left: 150px;
        padding-top: 150px;
    }
}
@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
    }
    main .text{
        padding-top: 50px;
        padding-right: 150px;
    }
    header ul li a{
        background-color: black;
    }
    main .text h2,h3{
        color: black;
    }
}